html, body {height:100%;font-family:'roboto',Verdana;font-size:16px;color:#000;}

/* @-ms-viewport{width: device-width;} */

h1,h2,h3,.h1,.h2,.h3{font-family:'intro';color:#009dff;text-align:center;}

h1, .h1{
	color:#009dff;
    margin-top: 30px;
    margin-bottom: 30px;
}

a{text-decoration:underline;color:#198dd4;} 
nav a,nav a:hover{text-decoration:none;color:#fff;}

button,input,textarea{
	outline:0;
}

#body{
	padding-top:132px;
}
.block>*{max-width:1560px;padding:0 30px;margin-right:auto;margin-left:auto;}


.block{
	overflow:hidden;
}

.block.tight>*{
	max-width:1120px
}
.block.bpadding{
	padding-bottom:20px;
}
.block.gray{
	background:#dcdcdc;
	color:inherit;
}
.block.gradient{
	background: #fff;
	background: -moz-radial-gradient(center, ellipse cover,  #fff 0%, #e6e8ea 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #fff 0%,#e6e8ea 100%);
	background: radial-gradient(ellipse at center,  #fff 0%,#e6e8ea 100%);
}

.gray{color:#323232;}
.orange{color:#ff5400;}
.italic{
	font-style:italic;
}

.inline-block{
	display:inline-block
}

.lblue{	background:#8cd3ff;}
.llblue{background:#bde6ff;}

.search-form input,.login-form input{
	color:#fff;
	background:transparent;
	border:solid 2px;
	border-radius:10px;
	padding:4px 10px;
	outline:0 !important;
}
.search-form input{
	padding-left:40px;
	background:transparent url(/images/forall/search.png) no-repeat 7px 50%;
}

i[class*='icon-']{
	display:inline-block;
	height:16px;
	width:16px;
	background-position:50% 50%;
	background-repeat:no-repeat;
	vertical-align:middle
}
i.icon-login{background-image:url(/images/forall/login.png);}
i.icon-pass{background-image:url(/images/forall/key.png);}

.search-form button,.login-form button{
	border-radius:10px;
	border:none;
	padding:3px 20px;
}

header{
	position:absolute;
	top:0;
	right:0;
	left:0;
	color:#fff;
	background: #1a8cd5;
	background: -moz-radial-gradient(center, ellipse cover,  #1a8cd5 0%, #036cbd 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #1a8cd5 0%,#036cbd 100%);
	background: radial-gradient(ellipse at center,  #1a8cd5 0%,#036cbd 100%);
	overflow:hidden;
	z-index:200;
}
header a{color:#fff;}
header .container-fluid{
	overflow:hidden;
}
header .info{text-align:center;}
header {
	white-space:nowrap;
}
header .info>div{display:inline-block;text-align:left;}
header nav{
	background: #43b4fb;
	background: -moz-linear-gradient(top,  #43b4fb 0%, #33a4ec 100%);
	background: -webkit-linear-gradient(top,  #43b4fb 0%,#33a4ec 100%);
	background: linear-gradient(to bottom,  #43b4fb 0%,#33a4ec 100%);
	overflow:hidden;
	text-align:center;
	line-height:0;
	/* font-weight:700; */
}
header.fixed{
	position:fixed;
	top:0;
	right:0;
	left:0;
	box-shadow:0 0 10px #000;
}
header.fixed .block-info{
	display:none;
}

header .nav{
	display:inline-block;
	float:none;
}
header .contacts{
	padding-top:14px;
	margin-left:-6px;
	padding-left:6px;
	overflow:hidden;
}
header .contacts span{
	display:inline-block;
	font-size:14px;
	color:#bde6ff;
	float:left;
}
header .contacts-icon{
	margin-top:6px;
}
header .contacts-icon.mail{
	margin-top:12px
}
header .contacts .phone{
	line-height:18px;
	margin:6px 10px 0 0;
}

header .basket{
	margin-top:11px;
	text-align:center;
	background-position:50% 5px;
}
header .basket span{
	margin-left:10px;
	left:50%;
}
header .basket p{
	padding:40px 0 0;
	margin-bottom:5px;
}
header .basket .button{
	margin:0;
}

header .search-form, .login-form{
	font-size:12px;
	padding-bottom:6px;
}
header .search-form input,.login-form input{
	border-width:1px;
	font-style:italic;
	margin-top:3px;
	padding-top:2px;
	padding-bottom:2px;
	text-align:left;
}

.login-form{
	margin-top:25px;
	text-align:center;
	font-style:italic;
}
.col-md-5 .login-form{
	margin-left:-15px;
}
.login-form i{margin-right:5px;}
.login-form input+i{margin-left:5%;}
.login-form input{margin-bottom:14px;width:100px;}
.login-form button{margin-right:10px;}

.navbar-nav>li>a:hover,.navbar-nav>li>a:focus{
	color:#126295;
	background: rgba(255,255,255,.1);
}
.navbar-nav>li>a:active{
	box-shadow:inset 2px 2px 4px rgba(0,0,0,.4);
}
.navbar-nav>li>a{
	padding-top: 4px;
	padding-bottom: 4px;
	box-shadow: inset 1px 0 0 0 #5cc0ff, inset -1px 0 0 0 #269ae4;
	/*border-left:solid 1px #269ae4;
	border-right:solid 1px #5cc0ff;	*/
}
.navbar-nav>li:first-child>a{
	box-shadow: inset 1px 0 0 0 #5cc0ff, inset 2px 0 0 0 #269ae4, inset -1px 0 0 0 #269ae4;
}
.navbar-nav>li:last-child>a{
	box-shadow: inset 1px 0 0 0 #5cc0ff, inset -1px 0 0 0 #269ae4, inset -2px 0 0 0 #5cc0ff;
}

.contacts span{
	display:block;
	/* padding-left:40px; */
	line-height:48px;
	background-position:0 50%;
	background-repeat:no-repeat;
}
.contacts-icon{
	display:block;
	float:left;
	width:24px;
	height:24px;
	background-repeat:no-repeat;
	background-position:50% 50%;
	margin-right:5px;
	opacity:.8;
}
.contacts-icon:hover{
    opacity:1;
	-webkit-filter:drop-shadow(0 0 4px rgba(0,0,0,.4)); 
	filter:drop-shadow(0 0 4px rgba(0,0,0,.4)); 
}
.contacts-icon.whatsapp{background-image:url(/images/forall/contacts-whatsapp.png);}
.contacts-icon.viber{background-image:url(/images/forall/contacts-viber.png);}
.contacts-icon.mail{background-image:url(/images/forall/contacts-mail.png);}
.contacts-icon.mobile{background-image:url(/images/forall/contacts-mobile.png);}
/* .contacts span.phone{background-image:url(/images/forall/phone.png);} */
/* .contacts span.mail{background-image:url(/images/forall/mail.png);} */


#logo{
	display:block;
	height:67px;
	width:326px;
	margin:14px 0 23px 0;
	float:left;
	background:url(/images/forall/logo.png) no-repeat 0 0;
}

.excursion-form-header{
	display:none;
	position:relative;
	background:#fff;
	color:#002d49;
	z-index:19;
	text-align:left;
}
.excursion-form-header:after{
	content:'';
	z-index:17;
	display:block;
	position:absolute;
	top:100%;
	right:0;
	left:0;
	height:10px;
	background:-moz-linear-gradient(top,  rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%);
	background:-webkit-linear-gradient(top,  rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 100%);
	background:linear-gradient(to bottom,  rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 100%);
}
.excursion-form-header .delimiter{
	position:relative;
	width:1%;
}
.excursion-form-header .delimiter:after{
	content:'';
	position:absolute;
	top:8px;
	bottom:8px;
	width:1px;
	background:#007dcc;
	left:40%;
}
.excursion-form-header form{
	display:table;
}
.excursion-form-header form>*{
	display:table-cell;
	vertical-align:top;
	height:90px;
}
.excursion-form-header p{
	margin-top:10px;
	margin-bottom:3px;
}
.excursion-form-header .countries img{
	height:20px;
	width:20px;
	margin:7px 0;
}

.excursion-form-header input[type="text"],
.excursion-form-header .radio-select label,
.excursion-form-header .country-select-span{
	border:solid 2px;
	background:#fff;
	width:95%;
	color:#002d49;
	border-radius:20px !important;
	padding:0 10px;
	line-height:30px;
	outline:0 !important;
}
.excursion-form-header .country-select-span:after {
	top:10px;
}
.excursion-form-header .radio-select label,
.excursion-form-header .button{
	margin-top:33px;
	line-height:30px;
}
.excursion-form-header .radio-select input:checked+label{
		color:#fff;
		border-color:#009dff;
		background:#009dff;
		box-shadow:none;
}

.date-start,.date-end{width:11.5%;}
.count-adult,.count-child{width:7.73%}
.excursion-form-header .radio-select{width:11.2%;}
.excursion-form-header .country-container{width:13.5%;}

.excursion-form-header .basket{
	margin-top:3px;
	background-image:url(/images/forall/basket-fixed.png);
}
.excursion-form-header .basket p{
	padding-top:34px;
	margin-bottom:0;
}

.shadow-box{
	position:relative;
	overflow:hidden;
}
.shadow-box:before,.shadow-box:after{
	content:'';
	display:block;
	position:absolute;
	width:100%;
	height:3px;
	background:rgba(0,38,63, .18)
}
.shadow-box:before{top:0;}
.shadow-box:after{bottom:0;}

.excursion-form{
	overflow:hidden;
	padding:0 2.8em;
	font-size:18px;
}
.excursion-form h2,.excursion-form .h2{
	margin-top:.37em;
	margin-bottom:.16em;
}
.excursion-form input[type="text"]{
	border:solid 1px #999;
	background:#fff;
	border-radius:10px;
	padding:.278em .833em;
	outline:0;
}
.excursion-form .date{
	background:#fff url(/images/forall/calendar.png) no-repeat 93% 50%;
	padding:.278em .833em;
	width:100%;
	margin-bottom:.778em;
}

.slider{
	overflow:hidden;
	height:590px;
}

.slide{
	position:relative;
}

.countries{
	text-align:center;
}
.countries img{
	margin-bottom:2px;
}
.countries img,.countries-select img{
	border:solid 2px #002d49;
	border-radius:32px;
	width:36px;
	height:36px;
}
.countries a.czech{background-image:url(/images/forall/countries/czech.png);}
.countries a.gemrany{background-image:url(/images/forall/countries/germany.png);}
.countries a.austria{background-image:url(/images/forall/countries/austria.png);}
.countries a.italy{background-image:url(/images/forall/countries/italy.png);}

.radio-select{overflow:hidden;}
.radio-select label{
	float:left;
	width:50%;
	line-height:2.333em;
	text-align:center;
	color:#999;
	background:#d8dada;
	background:-moz-linear-gradient(top,  #f5f6f6 0%, #e8eaeb 100%);
	background:-webkit-linear-gradient(top,  #f5f6f6 0%,#e8eaeb 100%);
	background:linear-gradient(to bottom,  #f5f6f6 0%,#e8eaeb 100%);
	cursor:pointer;
	margin-bottom:14px;
}
.radio-select label,.excursion-form .button:not(.primary),.people-count{
	color:#999;
	background:#d8dada;
	/*box-shadow:none;*/
	background:-moz-linear-gradient(top,  #f5f6f6 0%, #e8eaeb 100%);
	background:-webkit-linear-gradient(top,  #f5f6f6 0%,#e8eaeb 100%);
	background:linear-gradient(to bottom,  #f5f6f6 0%,#e8eaeb 100%);	
}
.radio-select input{
	position:absolute;
	opacity:0;
}
.radio-select input:first-child+label{
	border-radius:10px 0 0 10px;
}
.radio-select label:last-child{
	border-radius:0 10px 10px 0;
}
.radio-select input:checked+label{
	color:#323232;
	background:#d8dada;
	box-shadow:inset 5px 5px 10px 0 #b6b7b9;
}
.excursion-form .button:not(.primary){
	color:#393939;
}
.excursion-form .button{
	display:block;
	line-height:2.1em;
	width:100%;
	margin-bottom:.7em;
}

.excursion-form .button.primary{
	box-shadow:0 0 10px rgba(0,0,0,.2);
}

.excursion-form .button.search{
	margin-bottom:4px;
}
.excursion-form p{
	margin-bottom:3px;
}
.excursion-form .button.search:after{
	content:'';
	display:inline-block;
	width:27px;
	height:1.2em;
	background:url(/images/forall/excursion-form-search.png) no-repeat 0 50%;
	margin-left:10px;
	vertical-align:middle;
}

.people-count{
	border-radius:10px;	
	padding:.5em;
	text-align:center;
	color:#000;
	margin-bottom:.889em
}
.people-count .gray{
	color:#999;
}
.people-count span{
	font-size:.889em;
}
.count-select{
	word-spacing:-5px;
}
.count-select label{
	display:inline-block;
	color:#000;
	line-height:1.389em;
	width:1.389em;
	text-align:center;
	border-radius:.7em;
}
.count-select input{
	position:absolute;
	opacity:0;
}
.count-select input:checked+label{
	background:#ff6225;
	color:#fff;
}

.country-select, .country-select *{
	outline:0 !important;
}
.country-container{
	margin-top:6px;
	margin-bottom:13px;
}
.country-select{
	margin:0 auto;
	font-size:.889em;
	line-height:1.667em;
	width:auto;
}
.country-select-span{
	position:relative;
	text-align:left;
	margin:0 auto;
	width:240px;
	font-size:.889em;
	line-height:1.667em;
	border:solid 1px #999;
	border-radius:10px;
	background:#fff;
	padding:4px 40px 4px 20px;
	cursor:pointer;
}
.country-select-span:after{
	content:'';
	display:block;
	position:absolute;
	top:12px;
	right:17px;
	color:#3e3e3e;
	height:10px;
	width:10px;
	border-top:solid 2px;
	border-right:solid 2px;
	transform:rotate(45deg);
}

footer{
	margin:0 auto;
	position:relative;
	background:#0264b3;
	color:#fff;
}

footer .nav{
	background:#1972ba;
	overflow:hidden;
}
footer .nav nav{
	font-size:14px;
	font-weight:700;
	float:right;
}
footer .nav nav a{
	display:inline-block;
	padding:20px 10px;
}
footer .nav nav a:hover{
	color:#fff;
	background:#009dff;
}
footer .search-form{
	float:left;
	margin-left:60px;
	font-size:14px;
}

footer .search-form input{
	margin:14px 0;
}
footer .contacts{
	font-size:18px;
}

footer .contacts{
	margin:20px 0 0;
}

footer .basket{
	margin-top:30px;
}

.copyright{
	line-height:60px;
	background:#045597;
	font-size:18px;
	text-align:center;
}

.social{
	text-align:center;
	text-transform:uppercase;
	font-size:18px;
	margin:30px 0;
}
.social a{
	display:inline-block;
	height:48px;
	width:48px;
	opacity:.7;
}
.social a:hover{
	opacity:1;
}
.social a.fb{		background-image:url(/images/forall/social/fb.png);}
.social a.twitter{	background-image:url(/images/forall/social/twitter.png);}
.social a.in{		background-image:url(/images/forall/social/in.png);}
.social a.vk{		background-image:url(/images/forall/social/vk.png);}
.social a.ok{		background-image:url(/images/forall/social/ok.png);}
.social a.youtube{	background-image:url(/images/forall/social/youtube.png);}
.social a.insta{	background-image:url(/images/forall/social/insta.png);}

.basket{
	position:relative;
	float:right;
	background:url(/images/forall/basket.png) no-repeat 0 10px;
}

.basket span{
	display:block;
	position:absolute;
	margin-left:25px;
	font-size:12px;
	text-align:center;
	background:#ff5400;
	width:23px;
	color:#fff;
	line-height:23px;
	border-radius:12px;
}
.basket p{
	padding-top:21px;
	padding-left:80px;
	font-size:12px;
	font-style:italic;
}
.basket .button{
	margin-left:80px;
	font-size:14px;
	line-height:20px;
	padding:0 10px;
}

.button{
	display:inline-block;
	color:#fff;
	text-align:center;
	text-decoration:none;
	border-radius:22px;
	border:none;
	outline:0 !important;
}
.button:hover,.button:focus{
	text-decoration:none;
	box-shadow:0 0 6px rgba(0,0,0,.4);
}
.button:active{
	text-decoration:none;
	box-shadow:inset 1px 1px 2px 0 #000;
}

.button.primary{
	background: #ff733c;
	background: -moz-linear-gradient(top,  #ff733c 0%, #ff4800 100%);
	background: -webkit-linear-gradient(top,  #ff733c 0%,#ff4800 100%);
	background: linear-gradient(to bottom,  #ff733c 0%,#ff4800 100%);
}
.button.gray{
	background:#d8dada;
	/*box-shadow:none;*/
	background:-moz-linear-gradient(top,  #f5f6f6 0%, #e8eaeb 100%);
	background:-webkit-linear-gradient(top,  #f5f6f6 0%,#e8eaeb 100%);
	background:linear-gradient(to bottom,  #f5f6f6 0%,#e8eaeb 100%);		
}
.button.blue{
	background: #48b5fa;
	background: -moz-linear-gradient(top,  #48b5fa 0%, #2a9de7 100%);
	background: -webkit-linear-gradient(top,  #48b5fa 0%,#2a9de7 100%);
	background: linear-gradient(to bottom,  #48b5fa 0%,#2a9de7 100%);
}
.button.red{
	background:#ff3a3a;
}
.button.red:hover{
	color:#fff;
}
.button.white,.button.white:hover{
	color:#fff;
	box-shadow:0 0 0 2px;
}
.button.white:hover{
	background:#ff4800;
}

.button.primary:hover,.button.primary:active{color:#370f00;}
.button.blue:hover,.button.blue:active{color:#126295;}


.white-popup {
  position: relative;
  background: #fff;
  padding: 20px;
  border:solid 2px #009dff;
  border-radius:10px;
  width: auto;
  max-width: 600px;
  margin: 20px auto;
}

.white-popup .button{
	margin:10px 0 0;
	padding:0 20px;
}

.countries-select{
	text-align:center;
}

.countries-select span{
	display:inline-block;
	padding:2px;
	font-size:10px;
	border-radius:10px;
	cursor:pointer;
	width:70px;
	vertical-align:top;
	padding-bottom:5px;
	margin:2px;
}
.countries-select img{
	display:block;
	margin:10px 15px 0;
}
.countries-select span:hover{
	background:#ff5400;
	color:#fff;
}
.countries-select span.active{
	background:#009dff;
	color:#fff;
}

.breadcrumbs{
	margin:10px 0;
	font-style:italic;
}

.ui-datepicker-month{
	border-color:#fff;
}
.ui-datepicker-year{
	border-color:#fff;
}
.ui-datepicker-prev,.ui-datepicker-next{
	border:solid 0 transparent !important;
	background:transparent !important;
}




.date-choose{text-align:center;color:#007dcc;margin:20px auto 40px;}
.date-choose>div{
	padding:7px 50px;
	border:solid 2px #009dff;
	border-radius:10px;
}
.date-choose time{
	display:inline-block;
	border-radius:10px;
	width:135px;
	padding:8px 0 18px;
	cursor:pointer;
	/* margin:0 5px; */
	transition:all .3s ease;
}
.date-choose time span{
	display:block;
	border:solid 2px #009dff;
	border-radius:10px;
	padding:16px 6px;
	width:90px;
	margin:5px auto;
}

.date-choose time.active,.date-choose time.active:hover{
	background:#009dff;
	color:#fff;
	cursor:default;
}
.date-choose time.active span,.date-choose time.active:hover span{
	border-color:#fff;
}
.date-choose time:hover{
	color:#ff6225;
}
.date-choose time:hover span{
	border-color:#ff6225;
}



.excursions{
	text-align:center;
}
.excursions .row{
	margin-right:-30px;
	margin-left:-30px;
}
.excursions .col-lg-4{
	padding-right:30px;
	padding-left:30px;
	margin-bottom:40px;
}

.excursions .col-lg-4.active:after{
	content:'';
	display:block;
	position:absolute;
	top:100%;
	right:30px;
	left:30px;
	height: 40px; 
	background:url(/images/index/excursions-arrow.png) no-repeat 0 0;
	background-size:100%;
}
.excursions img{
	border-radius:10px;
	width:100%;
}
.excursions .price{
	position:absolute;
	top:20px;
	left:15px;
	color:#fff;
	background:#ff4800;
	font-size:37px;
	width:110px;
	line-height:50px;
	z-index:1;
}
.excursions .price:after{
	content:'';
	display:block;
	position:absolute;
	border-top:solid 5px #c03600;
	border-left:solid 15px transparent;
	top:100%;
	left:0;
}
.excursions .info{
	position:absolute;
	right:30px;left:30px;
	/* right:15px;left:15px; */
	color:#fff;
	bottom:0;
	background:rgba(0,45,73,.7);
	border-radius:0 0 10px 10px;
}
.excursions .col-lg-4.active .info{
	border-radius:0;
	background:#002d49;
}
.excursions .info h4{
	color:#fff;
	font-weight:700;
	font-family:roboto;
	text-transform:uppercase;
	margin-bottom:0;
}
.excursions .info a{
	color:#fff;
}
.excursions .subinfo{
	font-size:14px;
	overflow:hidden;
	padding:0 15px 0;
}

.excursions .subinfo>div:first-child{width:65%;float:left;}
.excursions .subinfo>div:last-child{width:33%;float:right;}
.excursions .week{
	white-space:nowrap;
	word-spacing:-2px;
}
.excursions .week span,.excursions .week em{
	display:inline-block;
	color:#96a1a9;
	border:solid 1px;
	border-radius:13px;
	line-height:20px;
	width:22px;
	font-size:13px;
	font-style:normal;
	margin-top:5px;
}
.excursions p{
	margin-top:-4px;
	margin-bottom:0;
}
.excursions .week span{
	border-color:#fff;
	background:#fff;
	color:#172a3b;
}

.excursions .timeinfo{
	text-align:left;
	padding-left:35px;
	line-height:1.2em;
	background:url(/images/index/excursions-clock-s.png) no-repeat 0 50%;
}
.excursions .rating{
	display:inline-block;
	position:relative;
	padding-top:16px;
	vertical-align:top;
	width:92px;
	margin-bottom:3px;
}
.excursions .rating:before,.excursions .rating:after{
	content:'';
	position:absolute;
	display:block;
	top:0;
	right:0;
	bottom:0;
	left:0;
	opacity:.5;
	background:url(/images/index/excursions-star.png) repeat-x 0 0;
}
.excursions .rating:after{opacity:1;}
.excursions .rating.r1:after{width:19px;}
.excursions .rating.r2:after{width:38px;}
.excursions .rating.r3:after{width:57px;}
.excursions .rating.r4:after{width:76px;}
.excursions .rating.r5:after{width:92px;}

.excursions .type{
	padding-left:40px;
	background-repeat:no-repeat;
	background-position:0 50%;
	line-height:30px;
	text-align:left;
}
.excursions .type.group{background-image:url(/images/index/excursions-group-s.png);}

.excursions .timeinfo,.excursions .type{
	margin-left:15px;
	font-size:14px;
}

.excursions .button{
	margin:10px 2px;
	width:43%;
	line-height:29px;
}
.excursions .buttons{
	background:#002d49;
	border-radius:0 0 10px 10px;
}



.button.buy:before{
	content:'';
	display:inline-block;
	width:27px;
	height:29px;
	background:url(/images/index/excursions-basket-s.png) no-repeat 0 40%;
	/* margin-right:10px; */
	vertical-align:middle;
}

.button.buy:hover:before{
	background-image:url(/images/index/excursions-basket-s-hover.png);
}

.button.more:after{
	content:'';
	display:inline-block;
	height:12px;
	width:12px;
	border-top:solid 2px;
	border-right:solid 2px;
	transform:rotate(45deg);
	margin-left:10px;
}
.checkbox-input input,.radio-input input{
	position:absolute;
	opacity:0;
}
.checkbox-input label,.radio-input label{
	line-height:32px;
	cursor:pointer;
}
.checkbox-input label:before,.radio-input label:after{
	content:'';
	display:inline-block;
	cursor:pointer;
	height:18px;
	width:18px;
	background:url(/images/forall/checkbox.png) no-repeat 0 0;
	vertical-align:middle;
	margin-right:15px;
}
.radio-input label:after{
	background-image:url(/images/forall/radio.png);
}
.checkbox-input input:checked +label:before,.radio-input input:checked +label:after{
	background-position:-18px 0;
}

#input-group-count{
	float:right;
	width:100px;
}

/* Excursion packages */
/* Pedestrian */
/* Many days */
/* Gastronomic */
/* River */
/* Visiting */
/* On foot */
/* Evening */

.excursion-form .buttons .button{
	margin-bottom:47px
}

.excursion-form-type{
	display:table;
	width:100%;
	font-size:16px;
	color:#7f7f7f;
	margin-bottom:20px;
}
.excursion-form-type>div{
	display:table-cell;
	width:5%;
}
.excursion-form-type .radio-input label:before{
	content:'';
	display:block;
	width:50px;
	height:50px;
	margin:0 auto;
	background-repeat:no-repeat;
	background-position:0 0;
}
.excursion-form-type .radio-input label:after{
	display:block;
	margin:0 auto;
}

.excursion-form-type .radio-input input:checked+label{
	color:#ff6225;
}

.excursion-form-type .radio-input.type-on-foot label:before{background-image:url(/images/forall/excursion-types/steps.png);}
.excursion-form-type .radio-input.type-city label:before{background-image:url(/images/forall/excursion-types/castle.png);}
.excursion-form-type .radio-input.type-many-days label:before{background-image:url(/images/forall/excursion-types/calendar.png);}
.excursion-form-type .radio-input.type-gastronomic label:before{background-image:url(/images/forall/excursion-types/food.png);}
.excursion-form-type .radio-input.type-river label:before{background-image:url(/images/forall/excursion-types/boat.png);}
.excursion-form-type .radio-input.type-visiting label:before{background-image:url(/images/forall/excursion-types/bus.png);}
.excursion-form-type .radio-input.type-evening label:before{background-image:url(/images/forall/excursion-types/moon.png);}
.excursion-form-type .radio-input.type-excursion-packages label:before{background-image:url(/images/forall/excursion-types/shopping.png);}

.excursion-form-type .radio-input.type-on-foot input:checked+label:before{background-image:url(/images/forall/excursion-types/steps-hover.png);}
.excursion-form-type .radio-input.type-city input:checked+label:before{background-image:url(/images/forall/excursion-types/castle-hover.png);}
.excursion-form-type .radio-input.type-many-days input:checked+label:before{background-image:url(/images/forall/excursion-types/calendar-hover.png);}
.excursion-form-type .radio-input.type-gastronomic input:checked+label:before{background-image:url(/images/forall/excursion-types/food-hover.png);}
.excursion-form-type .radio-input.type-river input:checked+label:before{background-image:url(/images/forall/excursion-types/boat-hover.png);}
.excursion-form-type .radio-input.type-visiting input:checked+label:before{background-image:url(/images/forall/excursion-types/bus-hover.png);}
.excursion-form-type .radio-input.type-evening input:checked+label:before{background-image:url(/images/forall/excursion-types/moon-hover.png);}
.excursion-form-type .radio-input.type-excursion-packages input:checked+label:before{background-image:url(/images/forall/excursion-types/shopping-hover.png);}


@media (min-width: 768px) {
	.mob{
		display:none;
	}
}
@media (max-width: 767px) {
	#logo {
	  margin-left:auto;
	  margin-right:auto;
	  float:none
	}
	header{
		position:fixed;
		top:0;
		right:0;
		left:0;
	}
	/* header+*{ */
		/* margin-top:104px; */
	/* } */
	header.fixed .block-info{
		display:block;
	}
	header .basket,
	header .basket+.container-fluid,
	.block-nav,
	footer nav,
	.excursion-form-header{
		display:none !important;
	}
	header .nav-switch,header .basket-switch{
		position:absolute;
		top:28px;
		width:40px;
		height:40px;
		border:solid 2px #fff;
		border-radius:20px;
		
	}
	header .nav-switch{
		opacity:.5;
		left:30px;
	}
	header .basket-switch{
		right:30px;
		border-color:#89d2ff;
		background:url(/images/forall/basket-mobile.png) no-repeat 50% 50%;
	}
	header .nav-switch:hover,.nav-switch:active{
			opacity:1;
	}
	header .basket-switch span{
		display:block;
		position:absolute;
		top:-15px;
		right:-15px;
		height:30px;
		width:30px;
		text-align:center;
		border-radius:15px;
		background:#ff5400;
		line-height:30px;
	}
	header .nav-switch:before{
		content:'';
		position:absolute;
		margin:9px auto;
		left:0;
		right:0;
		display:block;
		width:24px;
		border-top:solid 3px #fff;
		box-shadow:0 8px 0 #fff,0 16px 0 #fff;
	}
	.mob-nav-container,.mob-basket-container{
		display:none;
		z-index:777;
		position:fixed;
		top:0;
		right:0;
		bottom:0;
		left:0;
		background:rgba(0,0,0,.5);
	}
	.mob-nav,.mob-basket{
		position:absolute;
		top:0;
		background: #fff;
		background: -moz-linear-gradient(top,  #fff 0%, #cfd2d4 100%);
		background: -webkit-linear-gradient(top,  #fff 0%,#cfd2d4 100%);
		background: linear-gradient(to bottom,  #fff 0%,#cfd2d4 100%);

	}
	.mob-nav{
		right:30%;
		bottom:0;
		left:0;		
	}
	.mob-basket{
		right:0;
		padding:40px;
		text-align:center;
	}
	.mob-basket .br{
		border-bottom:solid 2px #aeafb1;
		margin:20px -20px;
	}
	.mob-basket .orange{
		font-weight:700;
	}
	.mob-basket .button{
		padding:0 10px;
	}
	.mob-nav ul{
		display:block;
		padding:10px 50px 10px 30px;
	}
	.mob-nav li{
		display:block;
		padding-bottom:5px;
		border-bottom:solid 2px #aeafb1;
	}
	.mob-nav a{
		display:block;
		color:#454545;
		padding:.7em;
		text-decoration:none;
	}
	.mob-nav .nav-switch,.mob-basket .basket-switch{
		position:absolute;
		top:50px;
		width:45px;
		height:45px;
		border-radius:23px;
		background:#fff;
		box-shadow:0 0 10px #000;
		text-align:center;
	}
	.mob-nav .nav-switch{
		right:0;
		margin-right:-23px;
	}
	.mob-basket .basket-switch{
		left:0;
		margin-left:-23px;
	}
	.mob-nav .nav-switch:before,.mob-basket .basket-switch:before{
		content:'×';
		position:relative;
		top:2px;
		line-height:40px;
		font-size:40px;
	}
	.excursion-form{
		float:none;
		width:auto;
		padding:0 30px;
	}

	footer .search-form {
		float:none;
		margin-right:40px;
		margin-left:40px;
	}
	footer .search-form input{
		width:100%;
	}
	footer .contacts{
		overflow:hidden;
		padding-left:50px;
	}
	footer .contacts span{
		display:inline-block;
		font-size:14px;
		color:#bde6ff;
		float:left;
	}
	footer .contacts .phone{
		line-height:18px;
		margin:6px 10px 0 0;
	}
	footer .col-lg-4:last-child{
		display:none;
	}
	
	.slider{
		height:340px !important;
	}
	.slick-dots{
		transform:scale(2);
	}
}

@media (max-width: 1270px) {
	.search-form{
		display:none;
	}
	.navbar-nav>li>a{
		padding-left:5px;
		padding-right:5px;
	}
	.people-count{
		padding-right:0;
		padding-left:0;
	}
}



/*  Bootstrap Clearfix */
 
/*  Tablet  */
@media (min-width:767px){
 
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}
/*  Medium Desktop  */
@media (min-width:992px){
 
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}
 
/*  Large Desktop  */
@media (min-width:1200px){
 
  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}
