html, body {height:100%;font-family:'roboto',Verdana;font-size:16px;}


h1,h2,h3,.h1,.h2,.h3{font-family:'intro';color:#009dff;text-align:center;}

h1, .h1{
	color:#009dff;
    margin-top: 30px;
    margin-bottom: 30px;
}

#body{margin:0  0 -270px;min-height:100%;height:auto !important;height:100%;}
#body .block>*,footer>*{max-width:1500px;padding:0 30px;margin-right:auto;margin-left:auto;}

#body:after{content:'';display:block;height:270px;}

.block{
	overflow:hidden;
}

.lblue{	background:#8cd3ff;}
.llblue{background:#bde6ff;}

header{
	position:relative;
	color:#fff;
	background: #0872c2;
	background: -moz-linear-gradient(top,  #0872c2 0%, #1285d1 100%);
	background: -webkit-linear-gradient(top,  #0872c2 0%,#1285d1 100%);
	background: linear-gradient(to bottom,  #0872c2 0%,#1285d1 100%);
	overflow:hidden;
	box-shadow: 0 3px 0 0 rgba(0,38,63, .18);
}
header nav{
	background: #43b4fb;
	background: -moz-linear-gradient(top,  #43b4fb 0%, #33a4ec 100%);
	background: -webkit-linear-gradient(top,  #43b4fb 0%,#33a4ec 100%);
	background: linear-gradient(to bottom,  #43b4fb 0%,#33a4ec 100%);
	overflow:hidden;
	text-align:center;
	line-height:0;
	font-weight:700;
}
header .nav{
	display:inline-block;
	float:none;
}

.navbar-nav>li>a:hover,.navbar-nav>li>a:focus{
	background: rgba(0,0,0,.3);
}
.navbar-nav>li>a{
	padding-top: 4px;
	padding-bottom: 4px;
	color:#fff;
	box-shadow: inset 1px 0 0 0 #5cc0ff, inset -1px 0 0 0 #269ae4;
	/*border-left:solid 1px #269ae4;
	border-right:solid 1px #5cc0ff;	*/
}
.navbar-nav>li:first-child>a{
	box-shadow: inset 1px 0 0 0 #5cc0ff, inset 2px 0 0 0 #269ae4, inset -1px 0 0 0 #269ae4;
}
.navbar-nav>li:last-child>a{
	box-shadow: inset 1px 0 0 0 #5cc0ff, inset -1px 0 0 0 #269ae4, inset -2px 0 0 0 #5cc0ff;
}


#logo{
	display:block;
	height:67px;
	width:326px;
	margin:14px 0 23px;
	background:url(/images/forall/logo.png) no-repeat 0 0;
}

footer{
	margin:0 auto;
	position:relative;
	margin-top:-270px;
	background:#0264b3;
	color:#fff;
}

footer>div{
	margin:0 auto;
	height:270px;
}


/*  Bootstrap Clearfix */
 
/*  Tablet  */
@media (min-width:767px){
 
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}
/*  Medium Desktop  */
@media (min-width:992px){
 
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}
 
/*  Large Desktop  */
@media (min-width:1200px){
 
  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}