
.block.advantage img{margin-bottom:20px;}
.block.advantage .col-md-4{padding-bottom:20px;}
.block.advantage .col-md-4 p{font-size:18px;max-width:340px;margin:0 auto;}

.date-choose{text-align:center;color:#007dcc;margin:20px auto 40px;}
.date-choose>div{
	padding:7px 50px;
	border:solid 2px #009dff;
	border-radius:10px;
}
.date-choose time{
	display:inline-block;
	border-radius:10px;
	width:135px;
	padding:8px 0 18px;
	cursor:pointer;
	/* margin:0 5px; */
	transition:all .3s ease;
}
.date-choose time span{
	display:block;
	border:solid 2px #009dff;
	border-radius:10px;
	padding:16px 6px;
	width:90px;
	margin:5px auto;
}

.date-choose time.active,.date-choose time.active:hover{
	background:#009dff;
	color:#fff;
	cursor:default;
}
.date-choose time.active span,.date-choose time.active:hover span{
	border-color:#fff;
}
.date-choose time:hover{
	color:#ff6225;
}
.date-choose time:hover span{
	border-color:#ff6225;
}

.excursions{
	text-align:center;
}
.excursions .row{
	margin-right:-30px;
	margin-left:-30px;
}
.excursions .col-lg-4{
	padding-right:30px;
	padding-left:30px;
	margin-bottom:40px;
}
.excursions img{
	border-radius:10px;
	width:100%;
}
.excursions .price{
	position:absolute;
	top:30px;
	left:15px;
	color:#fff;
	background:#ff4800;
	font-size:60px;
	width:170px;
	line-height:80px;
	z-index:1;
}
.excursions .price:after{
	content:'';
	display:block;
	position:absolute;
	border-top:solid 5px #c03600;
	border-left:solid 15px transparent;
	top:100%;
	left:0;
}
.excursions .info{
	position:absolute;
	right:30px;left:30px;
	/* right:15px;left:15px; */
	bottom:0;
	background:rgba(0,45,73,.7);
	border-radius:0 0 10px 10px;
}
.excursions .info{
	color:#fff;
}
.excursions .info h2{
	color:#fff;
	font-weight:700;
	font-family:roboto;
	text-transform:uppercase;
	margin-bottom:0;
}
.excursions .info a{
	color:#fff;
}
.excursions .subinfo{
	font-size:14px;
	overflow:hidden;
	padding:0 30px 10px;
}

.excursions .subinfo>div:first-child{width:55%;float:left;}
.excursions .subinfo>div:last-child{width:40%;float:right;}
.excursions .week{white-space:nowrap;margin-bottom:10px;}
.excursions .week span,.excursions .week em{
	display:inline-block;
	color:#96a1a9;
	border:solid 1px;
	border-radius:13px;
	line-height:24px;
	width:26px;
	font-style:normal;
}
.excursions .week span{
	border-color:#fff;
	background:#fff;
	color:#172a3b;
}

.excursions .timeinfo{
	text-align:left;
	padding-left:35px;
	background:url(/images/index/excursions-clock.png) no-repeat 0 50%;
}
.excursions .rating{
	display:inline-block;
	position:relative;
	padding-top:16px;
	vertical-align:top;
	width:92px;
	margin-bottom:13px;
}
.excursions .rating:before,.excursions .rating:after{
	content:'';
	position:absolute;
	display:block;
	top:0;
	right:0;
	bottom:0;
	left:0;
	opacity:.5;
	background:url(/images/index/excursions-star.png) repeat-x 0 0;
}
.excursions .rating:after{opacity:1;}
.excursions .rating.r1:after{width:19px;}
.excursions .rating.r2:after{width:38px;}
.excursions .rating.r3:after{width:57px;}
.excursions .rating.r4:after{width:76px;}
.excursions .rating.r5:after{width:92px;}

.excursions .type{
	padding-left:40px;
	background-repeat:no-repeat;
	background-position:0 50%;
	line-height:30px;
	text-align:left;
}
.excursions .type.group{background-image:url(/images/index/excursions-group.png);}

.excursions .button{
	margin:15px 2px;
	width:40%;
	line-height:36px;
}
.excursions .buttons{
	background:#002d49;
	border-radius:0 0 10px 10px;
}


.button.buy:before{
	content:'';
	display:inline-block;
	width:27px;
	height:36px;
	background:url(/images/index/excursions-basket.png) no-repeat 0 40%;
	margin-right:10px;
	vertical-align:middle;
}

.button.more:after{
	content:'';
	display:inline-block;
	height:12px;
	width:12px;
	border-top:solid 2px;
	border-right:solid 2px;
	transform:rotate(45deg);
	margin-left:10px;
}

.shadow-box{
	position:relative;
}
.shadow-box:before,.shadow-box:after{
	content:'';
	display:block;
	position:absolute;
	width:100%;
	height:3px;
	background:rgba(0,38,63, .18)
}
.shadow-box:before{top:0;}
.shadow-box:after{bottom:0;}

.excursion-form{
	overflow:hidden;
	width:480px;
	padding:0 50px;
	height:590px;
	font-size:18px;
	background: #fff;
	background: -moz-radial-gradient(center, ellipse cover,  #fff 0%, #e6e8ea 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #fff 0%,#e6e8ea 100%);
	background: radial-gradient(ellipse at center,  #fff 0%,#e6e8ea 100%);
	float:left;
}
.excursion-form>div{
	margin-bottom:10px;
}
.excursion-form .date{
	border:solid 1px #999;
	background:#fff;
	border-radius:10px;
	background:url(/images/forall/calendar.png) no-repeat 93% 50%;
	padding:5px 15px;
	width:100%;
}
.slider{
	overflow:hidden;
	height:590px;
}

.countries{
	text-align:center;
}
.countries a{
	display:inline-block;
	width:38px;
	height:37px;
	background-position:0 0;
	background-repeat:no-repeat;
}
.countries a.czech{background-image:url(/images/forall/countries/czech.png);}
.countries a.gemrany{background-image:url(/images/forall/countries/germany.png);}
.countries a.austria{background-image:url(/images/forall/countries/austria.png);}
.countries a.italy{background-image:url(/images/forall/countries/italy.png);}

.radio-select{overflow:hidden;}
.radio-select label{
	float:left;
	width:50%;
	line-height:42px;
	text-align:center;
	background: #b6b7b9;
	color:#999;
	background:#d8dada;
	background:-moz-linear-gradient(top, ellipse cover,  #f5f6f6 0%, #e8eaeb 100%);
	background:-webkit-linear-gradient(top, ellipse cover,  #f5f6f6 0%,#e8eaeb 100%);
	background:linear-gradient(to bottom,  #f5f6f6 0%,#e8eaeb 100%);
	cursor:pointer;
}
.radio-select input{
	position:absolute;
	opacity:0;
}
.radio-select input:first-child+label{
	border-radius:10px 0 0 10px;
}
.radio-select label:last-child{
	border-radius:0 10px 10px 0;
}
.radio-select input:checked+label{
	color:#323232;
	background:#d8dada;
	box-shadow:inset 5px 5px 10px 0 #b6b7b9;
}
